.background1 {
	position: relative;
	background: url("/assets/images/unani/heroBG.png") repeat;
	background-color: #015120e6;
	background-size: fill;
	background-position: center;
	background-attachment: fixed;
}

.background2 {
	position: relative;
	background: url("/assets/images/unani/ourProductsBG.png") repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.video {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	object-fit: cover;
	height: 800px;
	width: 100vw;
}
