@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: futura;
  src: url(../../public/assets/fonts/FuturaPTBold.otf);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.futura {
  font-family: futura, sans-serif !important;
}
