@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: oswald;
	src: url(../../public/assets/fonts/FuturaPTBold.otf);
}

.oswald {
	font-family: oswald, sans-serif !important;
}
