<<<<<<< HEAD

=======
@font-face {
	font-family: futura;
	src: url(../../public/assets/fonts/FuturaPTBold.otf);
}

@font-face {
	font-family: montserrat;
	src: url(../../public/assets/fonts/Montserrat-VariableFont_wght.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	padding: 0;
	font-family: montserrat, sans-serif;
}

.futura {
	font-family: futura, sans-serif !important;
}
>>>>>>> bcf89b42214250c0d368e7383801c249a6a7d8da
